<% content_for :title, "About - Trummi" %>

<div class="help" id="About">
	<div class="mb-2 cont-header">
		<div class="cont-header-profile">
			<div class="i-wrapper">
				<%= button_to 'javascript:history.back()', method: :get, class: "bg-transparent p-0" do %>
					<%= image_tag("back.svg", class: "back") %>
				<% end %>
			</div>
		</div>

		<div class="cont-header-title">About Us</div>
	</div>

	<div class="hero_about" align="center">
		<h3 class="fw-bold">Trummi is reimagining what social media should be</h3>
	</div>

	<div class="about_section">
		<div class="about_title">
			<span><strong>Our purpose</strong></span>
		</div>

		<div class="about_text">
			<p>Our purpose is to restore people's faith in social media and bring change to the broken landscape that exists today.</p>
		</div>
	</div>

	<div class="about_section">
		<div class="about_title">
			<span class="mb-2"><strong>Who is Trummi for?</strong></span>
		</div>

		<div class="about_text">
			<p>Social media slowly evolved into a toxic environment that promotes a false reality obsessed with perfection. The inevitable failure to reach perfection and constant need to seek validation can lead to increased risk of mental health issues, especially among young people. Trummi was created for anyone looking to escape the negative effects social media has created on mental health.<p>
		</div>
	</div>

	<div class="about_section">
		<div class="about_title">
			<span class="mb-2"><strong>Why choose Trummi?</strong></span>
		</div>

		<div class="about_text">
			<p>By upholding the spirit of honesty, positivity and transparency, we can work together to create a new normal for what social media should be. Trummi aims to bring back the fun of interacting on social media.</p>
		</div>
	</div>

	<div class="about_section">
		<div class="about_title">
			<span class="mb-2"><strong>Our commitment to you</strong></span>
		</div>

		<div class="about_text">
			<p>Trummi is committed to nurturing an environment where everyone feels free to be themselves. Our desire to become a trusted social media platform for all people guides our bold ambition of creating a positive impact on the world.</p>
		</div>
	</div>
</div>