<% content_for :title, "Help Center/Verification - Trummi" %>

<div class="help" id="Verification">
	<div class="mb-2 cont-header" align="center">
		<div class="cont-header-profile">
			<div class="i-wrapper">
				<%= button_to help_path, method: :get, class: "bg-transparent p-0" do %>
					<%= image_tag("back.svg", class: "back") %>
				<% end %>
			</div>
		</div>
		
		<div class="cont-header-title">Verification</div>
	</div>

	<div class="verified_hero mt-5" align="center">
		<%= image_tag("verified_user.png") %>
	</div>

	<div class="about_section mt-5">
		<div class="about_title">
			<span><strong>Coming soon</strong></span>
		</div>

		<div class="about_text">
			<p>User verification is coming soon to Trummi. By confirming their identity with Trummi, users will receive a verified badge displayed next to their name alerting others the profile is authentic. Unlike other platforms that only offer verified status to prominent individuals, verification will be available to everyone in an effort to promote trust among all users on the platform.</p>
		</div>

	</div>
</div>