<div class="profile-center-posts">
  <% if !current_user.profile.blocking?(@profile) %>
    <% if @profile_posts != nil && @profile_posts.count != 0 %>

      <%= render @profile_posts %>

      <div class="pagination-wr">
        <% if @profile_posts.next_page %>
          <%= link_to profile_path(id: @profile.id, page: @profile_posts.next_page), class: "pagination-more" do %>
            <i class='fas fa-plus-circle'></i> 
            <span>More</span>
          <% end %> 
        <% end %>
      </div>

    <% else %>

      <div class="msg-container"> 
        <h6 class="mb-0">There's nothing here.</h6>
      </div> 
      
    <% end %>

  <% else %>

    <%= render 'blocks/block_message' %>

  <% end %>
</div>