$('.fol-bloc-results').append('<%= j render(@profile_followers) %>');
<% if @profile_followers.next_page %>
	$('.pagination-more').removeClass('disabled');
	$('.pagination-more').attr('href', '<%= followers_profile_path(page: @profile_followers.next_page) %>');
	$('.pagination-more').html("<i class='fas fa-plus-circle'></i> <span>More</span>");
<% else %>
	$('.pagination-more').remove();
<% end %>