$('.media-results-wr').append('<%= j render partial: "mediaimg", collection: @profile_image, as: :post_img %>');
<% if @profile_image.next_page %>
	$('.pagination-more').removeClass('disabled');
	$('.pagination-more').attr('href', '<%= media_profile_path(page: @profile_image.next_page) %>');
	$('.pagination-more').html("<i class='fas fa-plus-circle'></i> <span>More</span>");
<% else %>
	$('.pagination-more').remove();
<% end %>