$('.profile-center-posts .pagination-wr').before('<%= j render(@profile_posts) %>');
<% if @profile_posts.next_page %>
	$('.pagination-more').removeClass('disabled');
	$('.pagination-more').attr('href', '<%= profile_path(page: @profile_posts.next_page) %>');
	$('.pagination-more').html("<i class='fas fa-plus-circle'></i> <span>More</span>");
<% else %>
	$('.pagination-more').remove();
<% end %>