<% content_for :title, "New Message - Trummi" %>

<div id="fol-bloc-cont" class="rel-new-msg">

	<div class="mb-2 cont-header" align="center">
		<div class="cont-header-profile">
			<div class="i-wrapper">
				<%= button_to conversations_path, method: :get, class: "bg-transparent p-0" do %>
					<%= image_tag("back.svg", class: "back") %>
				<% end %>
			</div>
		</div>
		
		<div class="cont-header-title">New Message</div>
	</div>

	<div class="row fol-bloc-results">

		<%= render partial: "relationship", collection: @relationships %>
			 
	</div>

	<div class="pagination-wr">
		<% if @relationships.next_page %>
			<%= link_to relationships_path(page: @relationships.next_page), class: "pagination-more" do %>
				<i class='fas fa-plus-circle'></i> 
				<span>More</span>
			<% end %>
		<% end %>
	</div>	
		
</div>