<% content_for :title, "Accounts I Blocked - Trummi" %>

<div id="fol-bloc-cont">

	<div class="mb-2 cont-header" align="center">
		<div class="cont-header-profile">
			<div class="i-wrapper">
				<%= button_to settings_path, method: :get, class: "bg-transparent p-0" do %>
					<%= image_tag("back.svg", class: "back") %>
				<% end %>
			</div>
		</div>
		
		<div class="cont-header-title">Blocked Accounts</div>
	</div>
		
	<div class="row fol-bloc-results">

		<%= render @blocked %>

	</div>	

	<div class="pagination-wr">
		<% if @blocked.next_page %>
			<%= link_to settings_blocked_path(page: @blocked.next_page), class: "pagination-more" do %>
				<i class='fas fa-plus-circle'></i> 
				<span>More</span>
			<% end %>
		<% end %>
	</div>	
</div>
