$('.posts-wr').append('<%= j render(@posts) %>');
<% if @posts.next_page %>
	$('.pagination-more').removeClass('disabled');
	$('.pagination-more').attr('href', '<%= posts_path(page: @posts.next_page) %>');
	$('.pagination-more').html("<i class='fas fa-plus-circle'></i> <span>More</span>");
<% else %>
	$('.pagination-more').remove();
<% end %>