<div class="alert alert-dismissible align-items-center fade show" role="alert">
	<i class="fas fa-check-circle tr-pri-c me-2"></i>
	<p class="mb-0"><%= notice %></p>
	<button type="button" class="btn-close me-2 shadow-none" data-bs-dismiss="alert" aria-label="Close"></button>
</div>