<div class="footer footer-main">
	<div class="row ft-l">
		<div class="col text-center"><%= link_to "Trummi", welcome_path %></div>
		<div class="col text-center"><%= link_to "About", help_about_path %></div>
		<div class="col text-center"><%= link_to "Help", help_path %></div>
	</div>

	<div class="row ft-c">
		<div class="col text-center"><a href="https://www.truefiremedia.com/" rel="noopener noreferrer" target="_blank" >@TrueFireMedia</a></div>
	</div>
</div>